<div class="container-fluid">
  <div class="row header">
    <div class="col-xs-12">
      <h1 class="accent"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>Geotweet</h1>
    </div>
  </div>
</div>