<div class="container-fluid">
  <div class="row header">
    <div class="col-xs-12">
      <a href="<%= root_url %>"><span class="glyphicon glyphicon-map-marker header" aria-hidden="true"></span><h1 class="accent">Geotweet</h1></a>
    </div>
  </div>
</div>