<div style="width: 800px;">
  <input id="pac-input" class="controls" type="text" placeholder="Search Box">
  <div id="map" style="width: 800px; height: 400px;" data-latitude="<%= @location.latitude %>" data-longitude="<%= @location.longitude %>"></div>
</div>
<div>Your location is <%= @location.address %>.</div>