<div id="map-container">
  <input id="pac-input" class="controls" type="text" placeholder="Search">
  <div id="map" data-latitude="<%= location.latitude %>" data-longitude="<%= location.longitude %>" data-geotweets-url="<%= geotweets_url %>"></div>
</div>