html,body { height:100%; }

.accent {
  color: $brand-primary;
}

.header, .main {
  padding-top: $line-height-computed;
  padding-bottom: $line-height-computed;
}

.header {
  background-color: black;
  font-size: 30px;

  a, a:hover, a:visited {
    text-decoration: none;
    color: $brand-primary;
  }

  h1 {
    display: inline-block;
  }
}

.main {
  background: #EEEEEE;
}

.search-form {
  margin-top: $line-height-computed;

  .btn {
    margin-left: $grid-gutter-width / 2;
  }

  .form-group {
    width: 100%;
  }

  .form-control {
    width: calc(100% - 115px);
  }
}