html,body { height:100%; }

.accent {
  color: $brand-primary;
}

.header, .main {
  padding-top: $line-height-computed;
  padding-bottom: $line-height-computed;
}

.header {
  background-color: black;
  font-size: 30px;

  a, a:hover, a:visited {
    text-decoration: none;
    color: $brand-primary;
  }

  h1 {
    display: inline-block;
  }
}