@media all and (min-width: 768px) {
  .map-container-fixed {
    position: fixed;
    top: 20px;
    height: 100vh;
    width: calc(50vw - 35px);
  }
}

#map {
  @media all and (max-width: 767px) {
    height: calc(100vh - 153px - 300px);
  }
  @media all and (min-width: 768px) {
    height: calc(100vh - 153px - 100px);
  }
  margin-right: 5px;
  min-height: 300px;
  min-width: 300px;
}
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

.search-form {
  margin-top: $line-height-computed;

  .btn {
    margin-left: $grid-gutter-width / 2;
  }

  .form-group {
    width: 100%;
  }

  .form-control {
    width: calc(100% - 115px);
  }
}

@media all and (max-width: 767px) {
  input#query-input {
    width: 100%;
  }

  button#query-submit {
    margin-left: 0;
    margin-top: $line-height-computed;
  }
}

.list-group-item {
  div.geotweet-photo, div.geotweet-content {
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    max-width: calc(100% - 80px);
  }

  div.geotweet-photo {
    img {
      border-radius: 4px;
    }
  }
}